/* Import Tailwind CSS */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Custom global styles */
body {
  font-family: 'Jost', sans-serif;
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
  min-height: 100vh; /* Set a minimum height for the body */
  overflow: hidden; /* Hide overflow content */
}
